<!DOCTYPE html>
<html lang="zh-CN">
  <head>
<%- include('includes/html_head') %>
    <script type="text/javascript">
    $(function(){
      $($('ul.navbar-nav > li')[0]).addClass('active');
    });
    </script>
  </head>
  <body>
<%- include('includes/top_navbar', { glyphiconClass: 'glyphicon-home' }) %>

    <div class="container">
      <div class="row">
        <div class="cols-sm-12">
              <h1><%=title%></h1>
              <p>Welcome to <%=title%></p>
              <p>下面是各测试页面的列表</p>
                <ol>
                  <li> <a href='/upload/'>上传</a></li>
                  <li> <a href='/uploads/'>已上传文件列表</a></li>
                  <li> <a href='/memo/'>笔记</a></li>
                  <li> <a href='/images/'>图片库</a></li>
        </div>
      </div>
    </div>

<%- include('includes/footer') %>
  </body>
</html>